<div id="navbar" class="nav-bar" style="position: sticky;">
	<ul class="blocks">
		<li routerLink="/" class="nav-block">
			<a>
				Home
			</a>
		</li>
		<li routerLink="/program" class="nav-block">
			<a>
				Program
			</a>
		</li>
		<li routerLink="/curriculum" class="nav-block">
			<a>
				Curriculum
			</a>
		</li>
		<li routerLink="/admissions" class="nav-block">
			<a>
				Admissions
			</a>
		</li>
		<li routerLink="/outcomes" class="nav-block">
			<a>
				Outcomes
			</a>
		</li>
		<li routerLink="/partners" class="nav-block">
			<a>
				Partners
			</a>
		</li>
		<li routerLink="/volunteers" class="nav-block">
			<a>
				Volunteers
			</a>
		</li>
	</ul>
</div>
