<footer >
	<div class="row">
		<div class="col-sm-4" id="media"><br>
			<a href="https://www.facebook.com/RBK.org/?ref=br_rs"><i id="social -fb" class="fa fa-facebook-square fa-2x"></i></a>
			<a href="https://twitter.com/ReBootKAMP"><i id="social -tw" class="fa fa-twitter-square fa-2x"></i></a>
			<a href="https://www.linkedin.com/company/rebootkamp/"><i id="social -li" class="fa fa-linkedin fa-2x"></i></a>
			<a href="https://www.youtube.com/channel/UCRRLMs3mAwN1f6vWZQrtD_w"><i id="social -yo" class="fa fa-youtube fa-2x"></i></a>
			<a href="https://www.instagram.com/rebootkamprbk/"><i id="social -in" class="fa fa-instagram fa-2x"></i></a>
		</div>
		<div class="col-sm-3"></div> 

		<div class="pink vertical-menu">
			<i class="fa fa-map-marker"><a target="_blank" href="https://goo.gl/maps/Z3MAkMShndN2"> Jordan-Amman-Khalda 
			</a></i>
			<i class="fa fa-envelope"><a href="mailto:info@rbk.com"> info@rbk.com
			</a></i>
			<i class="fa fa-phone"><a href=#> +962 79777 1441
			</a></i>
		</div>
		<div class="col-sm-8 text-center">
			<h5>
				RBK {{ year }} &copy; All Rights Reserved
			</h5>
		</div>
	</div>
</footer>